body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 16px;
    font-weight: 300;
}

/*
*
*   Margin / Padding / Size
*
*/
.lead-1 {
    font-size: 3rem;
    font-weight: 500;
}
.lead-2 {
    font-size: 2.5rem;
    font-weight: 400;
}
.lead-3 {
    font-size: 2rem;
    font-weight: 400;
}
.lead-4 {
    font-size: 1.5rem;
    font-weight: 300;
}

.my-6 {
    margin-bottom: 4rem !important;
    margin-top: 4rem !important;
}
.my-7 {
    margin-bottom: 5rem !important;
    margin-top: 5rem !important;
}
.my-8 {
    margin-bottom: 6rem !important;
    margin-top: 6rem !important;
}
.my-9 {
    margin-bottom: 7rem !important;
    margin-top: 7rem !important;
}
.my-10 {
    margin-bottom: 8rem !important;
    margin-top: 8rem !important;
}
.py-6 {
    padding-bottom: 4rem !important;
    padding-top: 4rem !important;
}
.py-7 {
    padding-bottom: 5rem !important;
    padding-top: 5rem !important;
}
.py-8 {
    padding-bottom: 6rem !important;
    padding-top: 6rem !important;
}
.py-9 {
    padding-bottom: 7rem !important;
    padding-top: 7rem !important;
}
.py-10 {
    padding-bottom: 8rem !important;
    padding-top: 8rem !important;
}
.w-60 {
    width: 60%;
}
@media screen and (max-width: 1200px) {
    .w-60 {
        width: 80%;
    }
}
/*
*   - Design couleurs etc ..
*/
.color-chouette {
    color: #9C6C3F;
}

.bg-chouette {
    background: #9C6C3F;
    color: #fff;
}
.bg-chouette a {
    color: #fff;
    font-weight: 400;
}
.btn-chouette {
    background: #9C6C3F;
    color: #fff;
}
.btn-chouette:hover {
    background: #9C6C3F;
    color: #fff;
}
.btn-clean {
    border: 1px solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
}

/*
*   - Tous ce qui va concerner les banniere
*/
.bloc {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bloc-fixed {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.b-parallax {
    background-attachment: fixed;
}
.bg-t-edge {
    background-size: auto!important;
}



.bg-banniere {
    background-image: url("img/banniere-1600*6xx.png");
}
.bg-presentation {
    background-image: url("img/image-de-presentation.png");
}

.black-background {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px 40px 40px 40px;
}
@media screen and (max-width: 900px) {
    .bg-banniere {
        background-image: url("img/banniere-750*800.png");
    }
    .bg-presentation {
        background-image: url("img/image-de-presentation-900*900.png");
    }
}
@media screen and (max-width: 450px) {
    .bg-banniere {
        background-image: url("img/banniere-500*850.png");
    }
    .bg-presentation {
        background-image: url("img/image-de-presentation-500*1300.png");
    }
}

@media screen and (max-width: 1200px) {
    .w-60 {
        width: 80%;
    }
    .btn-chouette {
        font-size: 14px;
    }
}